$colors: (
  yellow: (
    100: #fff100,
    200: #f8d300
  ),
  orange: (
    100: #f8aa01
  ),
  green: (
    100: #00b558
  ),
  blue: (
    100: #0040f3
  ),
  pink: (
    100: #ff48b0
  ),
  fresh: (
    yellow: #e9b200,
    pink: #ff397f,
    green: #00b558,
    blue: #0140f3
  )
);